{% extends 'base/base.html' %}

{% block navbar %}
    <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main') }}">Главная</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Страницы</a>

            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li><a class="dropdown-item" href="{{ url_for('events') }}">Список событий</a></li>
                <li><a class="dropdown-item" href="{{ url_for('site_settings') }}">Настройки сайта</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <section class="hero-section hero-50 d-flex justify-content-center align-items-center" id="section_1">
        <div class="section-overlay"></div>
        <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#3D405B" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h1 class="text-white mb-4 pb-2">Административный раздел</h1>
                </div>
            </div>
        </div>
        <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#ffffff" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>
    </section>

    <section class=" hero-50 d-flex justify-content-center align-items-center" id="admin-user">
        <div class="container">
            <div class="col-lg-6 col-12">
                <h3 class="mb-4 pb-2">Список пользователей</h3>
            </div>
            <div class="row">
                <p><a href="{{ url_for('admin_user') }}">Создать нового пользователя</a></p>
            </div>
            <ul class="ms-lg-auto">
                {% for user in users %}
                    <li class="nav-item">
                        <p>
                            {{ user.account_number }}
                            [<a href="/admin/edit_user/{{ user.id }}/">Редактировать</a> /
                            <a href="/admin/delete_user/{{ user.id }}/">Удалить</a>]
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class=" hero-50 d-flex justify-content-center align-items-center" id="admin-events">
        <div class="container">
            <div class="col-lg-6 col-12">
                <h3 class="mb-4 pb-2">Список событий</h3>
            </div>
            <div class="row">
                <p><a href="{{ url_for('admin_events') }}">Создать новое событие</a></p>
            </div>
            <ul class="ms-lg-auto">
                {% for event in events %}
                    <li class="nav-item">
                        <p>
                            {{ event.title }}
                            [<a href="/admin/edit_event/{{ event.id }}/">Редактировать</a> /
                            <a href="/admin/delete_event/{{ event.id }}/">Удалить</a>]
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
